@font-face {
    font-family: 'nordic';
    src: url('Nordic\ Alternative\ Regular.ttf');
}

:root {
    --green: rgb(99, 212, 23);
    --background-color: rgb(20, 20, 20);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(204, 204, 204);

}

body {
    background-color: var(--background-color);
}

.content {
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    width: 100vw;
    background-color: rgb(20, 20, 20);
}

.picture {
    background-image: url(lights.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
    /* height: 100vh; */
    box-shadow: 0px 0px 3px 2px rgb(27, 27, 27,);
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 12, 0.8);
    margin-top: 20vh;
    font-size: 35px;
}

.logo > p {
    font-family: nordic;
}

img {
    max-width: 10vw;
    max-height: 10vh;
    
}

.right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5vw;
}

.form-header {
    width: 45vw;
    margin-top: 10vh;
}

.form-header > h1 {
    font-size: 25px;
}

.form-section {
    padding: 10px;
    width: 45vw;
}

.form-section > h1 {
    margin-left: 10px;
    font-size: 25px;
}

label, input {
    display: flex;
    flex-direction: column;
    width: 90%;
}

label {
    font-weight: bold;
    color: rgb(153, 153, 153);
}

#name-labels {
    display: flex;
    flex-direction: row;
}

#contact-labels {
    display: flex;
    flex-direction: row;
}

#pass-labels {
    display: flex;
    flex-direction: row;
}

input {
    background-color: aliceblue;
    border: 1px solid grey;
    padding: 5px;
    margin-right: 20px;
    border: 2px;
    color: var(--background-color)
}

input:focus {
    outline: none;
    border: 2px solid var(--green);
}

.invalid {
    outline: none;
    border: 2px solid red;
}

.match {
    outline: none;
    border: 2px solid var(--green);
}

fieldset {
    border: none;
    justify-content: space-between;
    margin: 10px;
}

#passwd-error {
    margin: 10px;
    color: red
}

.submit {
    display: flex;
    align-items: end;
    border-top: 2px solid var(--green);
    margin: 20px 0;
    padding-top: 20px;
}

button {
    margin: 10px 10px 0;
    background-color: var(--background-color);
    padding: 15px;
    font-size: large;
    color: var(--green);
    box-shadow: 0px 0px 3px 2px rgb(27, 27, 27);
    border: 3px solid var(--green);
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: var(--green);
    color: var(--background-color);
}

a {
    color: var(--green);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: white;
}

@media only screen and (max-width: 750px) {
    .content {
        flex-direction: column;
        height: 100%;
    }

    .picture {
        height: 20vh;
        width: 100vw;
    }

    .logo {
        height: 20vh;
        margin: 0;
    }

    .logo > p {
        font-size: 20px;
    }

    .form-section {
        width: 85vw;
        font-size: 14px;
    }

    .form-section > h1 {
        font-size: 20px;
        text-align: center;
    }


    .form-header {
        width: 75vw;
        margin: 20px;
        font-size: 10px;
        text-align: center;
    }

    .submit {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    button {
        padding: 10px;
        width: 60vw;
        margin: 10px;
    }

}
